html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  height: 100%;
  width: calc(100vw + 18px);
  overflow: auto;
}

html,
body {
  overflow: hidden;
  overflow-y: auto;
}

.terminal-nav {
  text-transform: uppercase;
}

.terminal h1 {
  font-size: 1.75em;
  font-weight: bold;
}

.terminal h2 {
  font-size: 1.5em;
  font-weight: 700;
}

.terminal h3 {
  font-size: 1.25em;
  font-weight: 500;
}

.terminal h4 {
  font-size: 1.125em;
  font-weight: 500;
}

.terminal h5 {
  font-size: 1em;
  font-weight: 500;
}

.site-name {
  color: var(--font-color);
  font-size: 1.25em;
  font-weight: bold;
}

.terminal-menu li a:not(.btn) {
  font-weight: bold;
  color: var(--font-color);
}

.terminal-menu li a:hover{
  color: var(--primary-color);
}

.container {
  margin-top: 2rem;
}

.nlist {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 30px;
  -webkit-column-gap: 30px;
  column-gap: 30px;
  column-width: 25%;
  padding-top: calc(var(--global-space) * 2);
}

@media only screen and (max-width: 768px) {
  .nlist {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
    column-width: 25%;
  }
}

.nitem {
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 0 30px;
}

.nitem i {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 0 10px;
}

.nitem i img {
  width: 100%;
}

.nitem .p-a {
  margin: 0 0 20px;
  font-size: 1.8rem;
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .nitem .p-a {
    font-size: 1.5rem;
  }
}

.p_date {
  font-size: 1.5rem;
  line-height: 2em;
  font-style: italic;
}

.posts-list {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.post {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 3rem !important;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media only screen and (max-width: 640px) {
  .post {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 3rem !important;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.img-fluid {
  width: 100%;
  height: 280px;
  object-fit: cover;
  position: relative;
}

@media only screen and (max-width: 400px) {
  .img-fluid {
    width: 100%;
    height: 240px;
  }
}

a img {
  transition: box-shadow .25s ease-in;
  -moz-transition: box-shadow .25s ease-in;
  -webkit-transition: box-shadow .25s ease-in;
}

a img:hover {
  box-shadow: 0 12px 65px 2px rgba(41, 99, 255, 0.30), 0 1px 2px 1px rgba(41, 99, 255, 0.09);
}

.tt-t {
  font-size: 1.25rem;
  font-weight: 500;
}

.posts-list .date {
  font-size: .8rem;
  color: #969696;
  font-weight: 400;
}

.posts-list a {
  color: var(--font-color);
}

.posts-list a:hover {
  background-color: transparent;
  color: var(--font-color);
}

.story-footer {
  text-align: center;
  border-top: 1px solid #e6e6e6;
  margin-top: 10%;
}

.story-footer p {
  font-size: .8rem;
  color: #969696;
  padding: 5% 0 0 0;
  text-transform: uppercase;
}

.story-footer .button {
  border: 1px solid #2963ff;
  height: 38px;
  padding: 0 30px;
  border-radius: 4px;
  display: inline-block;
  line-height: 38px;
  box-shadow: 0 5px 20px rgba(41, 99, 255, 0);
}

.story-footer .button:hover {
  transition: background-color 0.25s ease;
  -moz-transition: background-color .25s ease;
  -webkit-transition: background-color .25s ease;
  color: #FFF;
  background-color: var(--primary-color);
  ;
  box-shadow: 0 5px 20px rgba(41, 99, 255, 0.30);
  outline: 0;
}

.footer {
  padding-bottom: 2rem;
  line-height: 2em;
}

._row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info {
  text-align: left;
  flex-grow: 0;
}

.copyright {
  text-align: right;
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  .copyright {
    text-align: left;
    flex-grow: 1;
  }
}
